* {
  text-align: center;
  height: auto;
}
body {
  position: center;
  background: linear-gradient(
    -45deg,
    rgba(247, 134, 28, 0.809),
    rgba(241, 217, 79, 0.68)
  );
  background-size: cover;
  font-family: "Permanent Marker", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background: #44c4e7;
  /* IE Fallback */
  background: linear-gradient(
    -45deg,
    rgba(247, 134, 28, 0.809),
    rgba(241, 217, 79, 0.68)
  );
  width: 100%;
  height: 100%;
}
.card-text{
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f8d17d;
  color: rgb(241, 93, 93);
}

.card-body{
  margin-top: 0px;
  background-color: #f8cb6a;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(248, 198, 124, 0.728);
  width: 300px;
  margin-left: 10px;
  padding: 70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.container-1 label{
  margin: 0 0 20px;
  line-height: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(0, 40, 105, 0.8);
  font-size: 25px;
  font-weight: 400;
}

.container-1 h2 {
  margin-top: 10px;
  line-height: 1;
  font-family: "Permanent Marker", cursive;
  color: rgba(0, 40, 105, 0.8);
  font-size: 18px;
  font-weight: 400;
}

.container-1 h3 {
  margin-top: 10px;
  line-height: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(241, 93, 93);
  font-size: 25px;
  font-weight: bolder;
}

.container-1 input {
  outline: none;
  display: block;
  width: 100%;
  font-family: "Permanent Marker", cursive;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s linear;
}
.container-1 inputinput:focus {
  color: #333;
  border: 1px solid #44c4e7;
}
.container-1 button {
  cursor: pointer;
  background: linear-gradient(
    -45deg,
    rgba(247, 134, 28, 0.809),
    rgba(241, 217, 79, 0.68)
  );
  width: 15%;
  padding: 10px 10px;
  border: 0;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  font-size: 14px;
  font-weight: 400;
}
.container-1 button:hover {
  background: linear-gradient(
    -45deg,
    rgba(247, 134, 28, 0.809),
    rgba(241, 217, 79, 0.68)
  );
}
.error,
.valid {
  display: none;
}

